:root{

    --mainColor:#eaeaea;
    --secondaryColor:#fff;
    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;
    --previewBg:rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;

}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, h7, strong {
    color: var(--mainText);
    /*font-family: 'Russo One', sans-serif;*/
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Serif', serif;

}
a {
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 34px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
    background: var(--mainColor);
    border-bottom: 1.5px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background: var(--secondaryColor);
    border-bottom:1.5px solid var(--borderColor);
    overflow:auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display:grid;
    min-height: 10em;
    text-align: center;
    align-content: center;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column'
    ;
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-radius: 5px 5px 0 0;
    border-bottom: 1.5px solid var(--borderColor);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);

}

#navigation{
    margin:0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display:flex;
    padding: 10px;

}

#dot-1{
    background-color: rgb(245, 61, 61);
}

#dot-2{
    background-color: rgb(233, 236, 47);
}

#dot-3{
    background-color: rgb(31, 138, 31);
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;

    margin: 5px;

    -webkit-box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.75);
}


.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;

}

#profile_pic{

    display:block;
    margin:0 auto;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border:2px solid var(--borderColor);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}


.theme-dot{
    height:32px;
    width:32px;
    border-radius: 50%;
    margin:4px;
    background-color:#4b5156;

    border:2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;

}

.theme-dot:hover{
    border-width: 4px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #647951;
}

#purple-mode{
    background-color: #7E4C74;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top:50px;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 175px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding:15px;
    position: relative;

}

.corner{
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    height: 7px;
    width: 7px;
    background-color: #fff;
    position:absolute;
}

#corner-tl{
    top: -5px;
    left:-5px;
}

#corner-tr{
    top: -5px;
    right:-5px;
}

#corner-bl{
    bottom: -5px;
    left:-5px;
}

#corner-br{
    bottom: -5px;
    right:-5px;
}

.about-wrapper{
    display: grid;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 30px;
    justify-content:center;
    padding-bottom: 50px;
}

.post{
    border:1.5px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);

}

.thumbnail{
    width: 100%;
    height:200px;
    display:block;

    object-fit: cover;

}

.post-preview{
    background-color: white;
    padding: 15px;
}

.post-title{
    color:black;
    margin: 0px;
}

.post-intro{
    color: #4b5156;
    font-size: 16px;
}

p.post-intro {
    font-size: 13px;
}


@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
        'nav-wrapper'
        'left-column'
        'right-column'
        ;
    }

    .right-column{
        justify-content: center;
    }
    
}

@media screen and (max-width: 450px){
    #preview{
        width: 250px;
        padding-right: 4px;
    }
    #preview-shadow{
        width: 250px;
    }
    .right-column{
        padding-bottom: 70px;
    }

    #skills{
        display: grid;
    }
}

.footer{
    background-color: #fff;
    padding:10px;
}

.footer__text{
    font-size:1rem;
    color:gray;
    text-align: center;
}

.footer__text a{
    font-size:1.3rem;
    color:gray;
    transition:all 0.2s ease-in-out;
    display:inline-block;
}
.footer__text h7:hover,.footer__text h7:active{
    color:#36d1dc
}
.footer hr{
    margin:1rem auto;
    border:0;
    width:50%;
    border-top:2px solid rgba(255,255,255,0.1);
}
.social-links{
    display:flex;
    justify-content: center;
}
.social-links a{font-size:3rem;display:flex;flex-direction:column;justify-content:center;color:black;width:5rem;height:1rem;margin:1.6rem 1.6rem;transition:all ease 0.2s}
.social-links a i{transition:all ease-in-out 0.2s}
.social-links a:hover{transform:scale(1.1) translateY(-2px)}
.social-links a:hover .fa-twitter{color:#00acee}
.social-links a:hover .fa-envelope{color:#EA4335}
.social-links a:hover .fa-linkedin{color:#4875b4}

