:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}

.social-links a{font-size:3rem;display:flex;flex-direction:column;justify-content:center;color:#fff;width:5rem;height:1rem;margin:1.6rem 1.6rem;transition:all ease 0.2s}